<div class="row">
    <div class="col-xs-12">
        <h4 class='underlined'>{{ class.name }} - {{ class.startDate }}</h4>
    </div>
    <div class="col-xs-12">
        <app-visitor-list [class]="class"></app-visitor-list>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12 form-group">
        <label for="youtubeLink">Enter Link here:</label>
        <input type="text" id="youtubeLink" class="form-control" [disabled]="linkConfirmed()" #youtubeLink>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-toolbar">
            <button class="btn btn-success" 
                    type="submit" 
                    [disabled]="linkConfirmed()" 
                    (click)="onAddLink()">Confirm Link</button>
            <button class="btn btn-danger" 
                    type="submit" 
                    [disabled]="!isConfirmedOrSending()" 
                    (click)="onResetLink()">Reset Link</button>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <div *ngIf="displayLink(); else warningText">
            <div class="btn-toolbar">
                <button class="btn btn-success" 
                        type="submit" 
                        [disabled]="isSending()"
                        (click)="onSendLink()">Send Link</button>
                <button class="btn btn-danger" 
                        type="submit" 
                        [disabled]="!isSending()"
                        (click)="onStopSendLink()">Stop Sending Link</button>
            </div>
        </div>
        <ng-template #warningText><p>Please enter a valid Link!</p></ng-template>
    </div>
</div>
<hr>