<div class="row">
    <div class="col-xs-12">
        <h4 class='underlined'>{{ class.name }} - {{ class.startDate }}</h4>
    </div>
    <div class="col-xs-12">
        <app-visitor-list [class]="class"></app-visitor-list>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-8 form-group">
        <input type="text" 
               id="youtubeLink" 
               class="form-control" 
               [disabled]="linkConfirmed()" 
               placeholder="Please enter a valid link!"
               #youtubeLink> 
    </div>
    <div class="col-md-4 checkbox">
        <label>
            <input type="checkbox"
            (change)="onCheckboxChange($event)"
            [disabled]="linkConfirmed()">Mark as 'New Link'</label>
      </div>
</div>
<div class="row">
    <div class="col-xs-6">
        <div class="btn-toolbar">
            <button class="btn btn-success" 
                    type="submit" 
                    [disabled]="linkConfirmed()" 
                    (click)="onAddLink()">Confirm Link</button>
            <button class="btn btn-danger" 
                    type="submit" 
                    [disabled]="!isConfirmedOrSending()" 
                    (click)="onResetLink()">Reset Link</button>
        </div>
    </div>

    <div class="col-xs-t">
        <div *ngIf="displayLink()">
            <div class="btn-toolbar">
                <button class="btn btn-success" 
                        type="submit" 
                        [disabled]="isSending()"
                        (click)="onSendLink()">Start Sending Link</button>
                <button class="btn btn-danger" 
                        type="submit" 
                        [disabled]="!isSending()"
                        (click)="onStopSendLink()">Stop Sending Link</button>
            </div>
        </div>
    </div>
</div>
<hr>