
<div class="row">
    <div class="col-md-5 shadow">
        <app-class-list></app-class-list>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5 shadow">
        <app-visitor-list *ngIf="selectedClass; else infoText"
                          [class]="selectedClass"
        ></app-visitor-list>
        <ng-template #infoText><p>Please select a Class</p></ng-template>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12 form-group">
        <label for="youtubeLink">Enter Link here:</label>
        <input type="text" id="youtubeLink" class="form-control" #youtubeLink>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success" type="submit" (click)="onAddLink()">Confirm Link</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <div *ngIf="displayLink(); else warningText">
            <p>Send this link "{{ displayLink() }}" to the clients of the selected class:</p>
            <button class="btn btn-success" type="submit" (click)="onSendLink()">Send Link</button>
        </div>
        <ng-template #warningText><p>Please enter a valid Link!</p></ng-template>
    </div>
</div>